body {
    background-color: beige;
}
.dark {
    background-color: rgb(0, 0, 0);
    color: rgb(212, 208, 208);
}
button.home-M{
    cursor: pointer;
    text-align: center;
    position: relative; left: 655px; top: -50px;
    margin-left: auto;

}
button {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: auto;
    background: rgb(212, 208, 208);
}
.d-button {
    position: relative; left: 590px; 
}
button {
    cursor: pointer;
            text-align: center;
            padding: 5px;
            margin-left: auto;

}
.dark-button {
    background-color: black;
    color: beige;
}
.home {
    margin-top: 5px;
}